*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

header{
    padding: 30px 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#search{
    padding: 5px 10px;
    width: 400px;
    height: 40px;
    border: none;
    font-size: 1rem;
}

#addbutton{
    background-color: rgb(255, 208, 0);
    width: 150px;
    border: none;
    font-size: 1rem;
    border-radius: 30px;
}